.nombre{ 

    margin-left: 50px;
    
    }
    
    .alias{ 
    
        margin-left: 141px;
        
        }
    
    
        
    .rut{ 
    
        margin-left: 143px;
        
        }
    
    .email{
    
        margin-left: 137px;
    
    }
    
    .region {
    
        
        margin-left: 129px;
    }

    .comunas {
    
        
        margin-left: 115px;
    }

    .candidato{

        margin-left: 109px;


    }